<% layout('layouts/boilerplate') %> 


    <div class="mb-5">
        
        <div class="input-group mb-3" >
            <input type="text" style="width: 40%;" class="form-control" id="pac-input" placeholder="Enter a location" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <div id="map" style="width: 100%; height: 700px; border-radius: 20px;">
        
        </div>
    </div>
    <h5>View all stores</h5>
        <% for(let store of stores) {%> 
            <div class="card mb-3 index-cards">
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <img src="<%= store.images[0].url %> "  alt="" style= "border-radius: 10px;">
                    </div>
                    <div class="col-lg-8 col-sm-12" >
                        <div class="card-body">
                            <h5><%= store.title %></h5>
                            <p class="card-text"> <%= store.description %> </p>
                            <p class="card-text">
                                <small class="text-muted"><%= store.location %> </small>
                            </p>
                            <a class="btn btn-dark" href="/stores/<%= store._id %> "> View store</a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 

<script>
    const stores = <%- JSON.stringify(stores) %>
</script>

<script src="/renderMapIndex.js"></script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>