<% layout('layouts/boilerplate') %> 
    <div class="row mb-5">
        <div class="col-sm-12 col-md-8 col-lg-6 ">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% foundStore.images.forEach((image,i) => { %> 
              <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
                <img src="<%= image.url %>" class="d-block w-100" alt="...">
              </div>
              <% }) %> 
            </div>
            <% if(foundStore.images.length > 1) { %> 
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %> 
          </div>

            <div class="card mb-3 position-relative store-card">
              <% if(currentUser){ %> 
              <div class="position-absolute" style="right: 10px; top: 10px;"> 

                  <% if(currentUser.favoriteStores.includes(foundStore._id)) {%> 
                  <a href="/users/<%= currentUser._id %>/favorites/<%= foundStore._id %>/remove">
                  <i class="fa fa-bookmark-o" style="font-size:25px; color: red;" onclick="return this.style.color = 'black'"></i>
                  </a>
                  <% }else { %> 
                    <a href="/users/<%= currentUser._id %>/favorites/<%= foundStore._id %>">
                  <i class="fa fa-bookmark-o" style="font-size:25px; color: black;" onclick="return this.style.color = 'red'"></i>
                    </a>
                  <% } %> 

              </div>
              <% } %> 
                <div class="card-body">
                  <h5 class="card-title">Store Name: <%= foundStore.title %></h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" id='location' value="<%= foundStore.location.toString() %>">Location: <%= foundStore.location %></li>
                        <li class="list-group-item"><a href="/users/<%= foundStore.owner._id %>">
                          Owner: <%= foundStore.owner.username %>
                        </a> </li>
                        
                        <li class="list-group-item">Open: <%= foundStore.hours[0] %> </li>
                        <li class="list-group-item">Close: <%= foundStore.hours[1] %> </li>
                        </li>
                        <li class="list-group-item"><%= foundStore.description %></li>

                                              <% if(currentUser && currentUser._id.equals(foundStore.owner._id)) {%> 
                      <div class="card-footer d-flex">
                        <a href="/stores/<%= foundStore._id %>/edit " class="btn btn-dark">Edit</a>
                        <form action="/stores/<%= foundStore._id %>?_method=DELETE" method="post">
                          <button class="btn btn-danger mx-2">Delete</button>
                          </form>
                      </div>
                      <% } %> 
                      </ul>
                        <li class="list-group-item ms-3">
                            <a href="/stores"><button class="btn btn-warning">Go Back</button></a>
                        </li>
                </div>
              </div>
            
     

        </div>
        <div class="col-sm-12 col-md-4 col-lg-6 ">
          <div class="card mb-3 menu-card" style="width: 100%;">
            <div class="card-body">
              <h3 class="card-title">Menu</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price ($)</th>
                  </tr>
                </thead>
                <tbody>
                  <% foundStore.menu.items.forEach((item,i) => {%> 
                  <tr>
                    <th scope="row"><%= i %> </th>
                    <td><%= item.dishName %> </td>
                    <td><%= item.price %></td>
                  </tr>
                  <% }) %> 
                </tbody>
              </table>
      
            </div>
            <% if(currentUser && currentUser._id.equals(foundStore.owner._id)) {%> 
              <div class="card-footer d-flex">
                <a href="/stores/<%= foundStore._id %>/menu/<%= foundStore.menu._id %>/edit" class="btn btn-dark">Edit</a>
              </div>
              <% } %> 
          </div>
          <% if(currentUser){ %> 
            <h2>Leave a review</h2>
            <form class="needs-validation mb-3" action="/stores/<%= foundStore._id %>/reviews" method="post" novalidate>
              <div class="mb-3">
                <label for="rating">Rating:</label>
                <fieldset class="starability-coinFlip">
                  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
            
                  <input type="radio" id="rate1" name="review[rating]" value="1" />
                  <label for="rate1">1 star.</label>
            
                  <input type="radio" id="rate2" name="review[rating]" value="2" />
                  <label for="rate2">2 stars.</label>
            
                  <input type="radio" id="rate3" name="review[rating]" value="3" />
                  <label for="rate3">3 stars.</label>
            
                  <input type="radio" id="rate4" name="review[rating]" value="4" />
                  <label for="rate4">4 stars.</label>
            
                  <input type="radio" id="rate5" name="review[rating]" value="5" />
                  <label for="rate5">5 stars.</label>
            
                  <span class="starability-focus-ring"></span>
                </fieldset>

              </div>
              <div class="mb-3">
                <label class='form-label' for="body">Review</label>
                <textarea class='form-control' name="review[body]" id="body" cols="30" rows="3" required></textarea>   
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              <button class="btn btn-dark">Submit</button>
            </form>
            <% } %> 
              <% for(let review of reviews){ %>
              <div class="card">
                <div class="mb-3 card-body">
                  <a href="/users/<%= review.user._id %>" style="text-decoration: none;" >
                    <p class="card-text mb-2"> <small class="text-muted">
                    <img alt="SourceLink" style="border-radius: 50%;" height="20" src="<%= review.user.profileImage.thumbnail %> "/> 
                    <%= review.user.username %></small></p>
                  </a>

                  <p class="starability-result" data-rating= <%= review.rating %>>
                    
                  </p>
                  <p class="card-text">Review: <%= review.body %> </p>
                  <p class="card-text"> <small class="text-muted">
                  Created at <%= review._id.getTimestamp().toString().substr(0, 21) %></small> </p>
                  <% if(currentUser && review.user._id.equals(currentUser._id)) {%> 
                  <form action="/stores/<%= foundStore._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                  <button class="btn btn-sm btn-danger">Delete</button>
                  </form>  
                  <% } %> 
                </div>  
            
              </div>

            <% } %> 

            
        </div>
        <div class="row mb-5">
          <div class="col-sm-12 col-md-8 col-lg-6 ">
            <div id="map" style="width: 100%; height: 300px; border-radius: 15px;">
        
            </div>
          </div>
        </div>

    </div>


    <script src="/renderMapShow.js"></script>


 
