<%- layout('layouts/boilerplate.ejs') %>
<div class="row">

    <div class="col-6 offset-3">
        <div class="card mb-3" style="width: 40rem;">
            <img src="<%= user.profileImage.url %> " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= user.firstName %> <%= user.lastName %></h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Username: <%= user.username %></li>
                    <li class="list-group-item">Email: <%= user.email %> </li>
                    <li class="list-group-item">Account Type: <%= user.accountType %> </li>
                    <li class="list-group-item">
                        <a href="/stores"><button class="btn btn-warning">Go Back</button></a>
                    </li>

                  </ul>

            </div>
          </div>

    </div>

</div>

</form>