<%- layout('layouts/boilerplate.ejs') %>
<div class="row">
    <% if(currentUser) {%> 
    <div class="col-6 offset-3">
        <div class="card mb-3" style="width: 40rem;">
            <img src="<%= currentUser.profileImage.url %> " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= currentUser.firstName %> <%= currentUser.lastName %></h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Username: <%= currentUser.username %></li>
                    <li class="list-group-item">Email: <%= currentUser.email %> </li>

                    <li class="list-group-item">
                        <a href="/campgrounds"><button class="btn btn-warning">Go Back</button></a>
                    </li>
                  </ul>

            </div>
          </div>

    </div>
    <% } %> 
</div>

</form>